*.iml
.gradle
/local.properties
/.goal/caches
/.goal/libraries
/.goal/modules.xml
/.goal/workspace.xml
/.goal/navEditor.xml
/.goal/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
